# **Python Basics**
**Values**

*   A value is the fundamental thing that a program manipulates
*   Values can be ‘Hello Python’, 1 , True
Values have types.

# **Variable**
1.   One of the most basic and powerful concepts is
that of a variable.
2.   A variable assigns a name to a value.
Variables are nothing more than reserved memory locations that store values.
3. Python variables does not need explicit declaration to reserve memory.
4.Unlike C/C++ and Java, variables can change types

In [ ]:
message = 'Hello Python!'

In [ ]:
type(message)

# **Data Types**


### 1.   Numeric Types


*   Integer Types: 92, 12, 0, 1
*   Floats (Floating point numbers): 3.1415
*   Complex Numbers: a + b*i (composed of real and imaginary component, both of which are floats a + b*i)
*   Booleans: True/False are a subtype of integers (0 is false, 1 is true)

2.   Strings
*   ‘Hello Python’
*  'India'

3.  Sequence types:


*   Lists : [1,2,3,4,5]
*   Tuples: (1, 2)
*   Ranges:

In [ ]:
x = 1         # assign variable x the value 1
y = x + 5     # assign variable y the value of x plus 5
z = y         # assign variable z the value of y
a = 10.5      # assign variable a the value of 10.5 float
b = True      # assign variable b the value True boolean
x = 10.5

print(type(x))

In [ ]:

x = 'Hello'
print(type(x))

In [ ]:
name = 'Python'

name_1 = 'Python1'

In [ ]:
1Name = 'Python'

In [ ]:
def  = 10

In [ ]:
x = 1       # integer
x = 1.0     # decimal (floating point)
x = 10
print(type(x)) # outputs: <class 'int'>

In [ ]:
x = 10.0
print(type(x)) # outputs: <class 'float'>
x = True

print(type(x))

y = False

print(type(y))

In [ ]:
x = 'This is a string'
print(x) # outputs: This is a string
print(type(x)) # outputs: <class 'str'>
y = "This is also a string"
x = 'Hello' + ' ' + 'World!'
print(x) # outputs: Hello World!

In [ ]:
planets_in_solar_system = 8 # int, pluto used to be the 9th planet, but is too small
distance_to_alpha_centauri = 4.367 # float, lightyears
can_liftoff = True
shuttle_landed_on_the_moon = "Apollo 11" #string

# **Modules**


1.   module is a file containing Python definitions and statements
2.   not all functionality available comes automatically when starting Python
1.   extra functionality can be added by importing modules
1.   objects in the module can be accessed  by prefixing them with the module name

In [ ]:
import math

In [ ]:
math.pow(2, 5)

In [ ]:
import random

In [ ]:
random.randint(1, 70)

In [ ]:
from pathlib import Path

Comments Start with a `#`

In [ ]:
# This is a comment

**Putting All things together**

---


Now we will write a program to calculate Simple Intrest

In [ ]:
rate = 10

In [ ]:
principle = 1000

In [ ]:
time = 3

In [ ]:
intrest = (rate * principle * time)/100

In [ ]:
print('Intrest is ', intrest)

## Operations

In [ ]:
answer = 30 + 12
print(answer)

# Output: 42

In [ ]:
difference = 30 - 12
print(difference)

In [ ]:
product = 30 * 12
print(product)

In [ ]:
quotient = 30 / 12
print(quotient)

In [ ]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)

In [ ]:
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

In [ ]:
endVelocity = 60
startVelocity = 0
acceleration = 9.8

time = (endVelocity - startVelocity) / acceleration
print("Time to reach desired velocity = ", time)

# **Indentation**
1.  In Python, blocks of code are defined using indentation
1.  The indentation within the block needs to be consistent
1.  The first line with less indentation is outside of the block
1.  The first line with more indentation starts a nested block
1.  Often a colon appears at the start of a new block

## Conditionals

In [ ]:
x = 12
if x<10:
    print('x is less than 10')
    print('H## Conditional Statements

In [ ]:
a = 97
b = 55

# test expression
if a < b:
    # statement to be run
    print(b)

In [ ]:
a = 24
b = 44

if a <= 0:
    print(a)
print(b)

In [ ]:
a = 93
b = 27
if a >= b:
    print(a)
else:
    print(b)

In [ ]:
a = 93
b = 27
if a >= b:
    print("a is greater than or equal to b")
elif a == b:
    print("a is equal to b")

In [ ]:
a = 93
b = 27
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print ("a is equal to b")

In [ ]:
a = 16
b = 25
c = 27
if a > b:
    if b > c:
        print ("a is greater than b and b is greater than c")
    else:
        print ("a is greater than b and less than c")
elif a == b:
    print ("a is equal to b")
else:
    print ("a is less than b")

## `and` and `or` operators

In [ ]:
a = 23
b = 34
if a == 34 or b == 34:
    print(a + b)

In [ ]:
a = 23
b = 34
if a == 34 and b == 34:
    print (a + b)

# **Strings**

*   Strings are text values like ‘Hello Anaconda’
*   Strings can be enclosed in single quote ‘ ..’ or double quotes “…”

In [ ]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [ ]:
print(moon_radius)

In [ ]:
fact = 'The "near side" is the part of the Moon that faces the Earth'

In [ ]:
print(fact)

In [ ]:
 multiline = """Facts about the Moon:
             There is no atmosphere.
             There is no sound."""

In [ ]:
print(multiline)

In [ ]:
"Moon" in "This text will describe facts and challenges with space travel"

In [ ]:
"Moon" in "This text will describe facts about the Moon"

In [ ]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
                  while Mars has -28 Celsius."""

In [ ]:
temperatures.find("Moon")

In [ ]:
temperatures.find("Mars")

In [ ]:
temperatures.count("Mars")

In [ ]:
temperatures.count("Moon")

In [ ]:
"The Moon And The Earth".lower()

Strings can be *indexed* (subscripted), with the first character having index 0.

In [ ]:
 word = 'Python'

In [ ]:
word[0]

In [ ]:
word[5]

indices may also be negative numbers, to start counting from the right.

In [ ]:
word[-1]  # last character

In [ ]:
word[-2]  # second-last character

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [ ]:
 word[0:2]  # characters from position 0 (included) to 2 (excluded)

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

In [ ]:
text = 'Put several strings within parentheses '+\
        'to have them joined together.'

In [ ]:
text

# **Lists**
1.  ordered sequence of information, accessible by index
1.  a list is denoted by square brackets, [ ]
1.  a list contains usually homogenous elements
1.  list elements can be changed so a list is mutable

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
print("The first planet is", planets[0])
print("The second planet is", planets[1])
print("The third planet is", planets[2])

In [ ]:
planets[3] = "Red Planet"
print("Mars is also known as", planets[3])

In [ ]:
number_of_planets = len(planets)
print("There are", number_of_planets, "planets in the solar system.")

In [ ]:
planets.append("Pluto")
number_of_planets = len(planets)
print("There are actually", number_of_planets, "planets in the solar system.")

In [ ]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print("No, there are definitely", number_of_planets, "planets in the solar system.")

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
print("The first planet is", planets[0])

In [ ]:
print("The last planet is", planets[-1])
print("The penultimate planet is", planets[-2])

In [ ]:
jupiter_index = planets.index("Jupiter")
print("Jupiter is the", jupiter_index + 1, "planet from the sun")

In [ ]:
#The following code creates a list that shows the gravitational forces of all eight planets in the solar system, in G:
gravity_on_planets = [0.378, 0.907, 1, 0.377, 2.36, 0.916, 0.889, 1.12]

#In this list, gravity_on_planets[0] is the gravity on Mercury (0.378 G), gravity_on_planets[1] is the gravity on Venus (0.907 G), and so on

In [ ]:
bus_weight = 12650 # in kilograms, on Earth

print("On Earth, a double-decker bus weighs", bus_weight, "kg")
print("On Mercury, a double-decker bus weighs", bus_weight * gravity_on_planets[0], "kg")

In [ ]:
bus_weight = 12650 # in kilograms, on Earth

print("On Earth, a double-decker bus weighs", bus_weight, "kg")
print("The lightest a bus would be in the solar system is", bus_weight * min(gravity_on_planets), "kg")
print("The heaviest a bus would be in the solar system is", bus_weight * max(gravity_on_planets), "kg")

In [ ]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planets_before_earth = planets[0:2]
print(planets_before_earth)

In [ ]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

In [ ]:
planets_after_earth = planets[3:]
print(planets_after_earth)

In [ ]:
amalthea_group = ["Metis", "Adrastea", "Amalthea", "Thebe"]
galilean_moons = ["Io", "Europa", "Ganymede", "Callisto"]

regular_satellite_moons = amalthea_group + galilean_moons
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

In [ ]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

In [ ]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

# **Tuple**
1.  tuple consists of a number of values separated by commas
1.  cannot change element values, immutable
1.  tuples always enclosed in parenthesis  
1.  used to return more than one value from a function

In [ ]:
t = 12345, 54321, 'hello!'

In [ ]:
t

In [ ]:
t[0]

In [ ]:
u = t, (1, 2, 3, 4, 5) # Tuples may be nested:

In [ ]:
u

In [ ]:
t[0] = 88888 # Tuples are immutable:

In [ ]:
x, y, z = t
print(x)
print(y)
print(z)

# **Sets**
1.  A set is an unordered collection with no duplicate elements
1.  set objects also support mathematical operations like union, intersection, difference, and symmetric difference

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [ ]:
basket_l = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [ ]:
print(basket)# show that duplicates have been removed

In [ ]:
'orange' in basket                 # fast membership testing

In [ ]:
'crabgrass' in basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')

In [ ]:
a - b

# **Dictionary**
1.  dictionary is a set of key:value pairs
1.  dictionaries are indexed by keys, which can be any immutable type
1.  dictionary stores a value with some key and extracts the value given the key

In [ ]:
telephone = {'jack': 4098, 'sape': 4139,'alpha':1099,'beta':1000}
telephone

In [ ]:
telephone['jack']

In [ ]:
telephone['king'] = 4127
telephone

In [ ]:
del telephone['sape']

In [ ]:
telephone

In [ ]:
'queen' in telephone

## While and For Loops

In [ ]:
user_input = ''

while user_input.lower() != 'done':
    user_input = input('Enter a new value, or done when done')

In [ ]:
# Create the variable for user input
user_input = ''
# Create the list to store the values
inputs = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input:
        # Store the value in the list
        inputs.append(user_input)
    # Prompt for a new value
    user_input = input('Enter a new value, or done when done')

In [ ]:
countdown = [4, 3, 2, 1, 0]
for number in countdown:
    print(number)
print("Blast off!! 🚀")

In [ ]:
from time import sleep

countdown = [4, 3, 2, 1, 0]

for number in countdown:
    print(number)
    sleep(1)  # Wait 1 second
print("Blast off!! 🚀")

### To iterate over a sequence of numbers, the built-in function range() comes in handy.

In [ ]:
for i in range(5):
    print(i,end=',')

In [ ]:
for i in range(5,10):
    print(i,end=',')

In [ ]:
for i in range(5,10,2):
    print(i,end=',')

# **break  and continue Statements**
1.  break statement breaks out of innermost enclosing for or while loop.
1.  continue statement continues with the next iteration of the loop skipping remaining statements.

In [ ]:
for i in range(50):
    if i==4:
        break
    print(i)

In [ ]:
for i in range(5):
    if i==2:
        continue
    print(i)

# **Write and call/invoke a function**
If its find that  the same bits of code is reused over and over, you can create your own function and call that instead of         repeating the same code.

In [ ]:
def rocket_parts():
    print("payload, propellant, structure")

In [ ]:
output = rocket_parts()
output is None

In [ ]:
def distance_from_earth(destination):
    if destination == "Moon":
        return "238,855"
    else:
        return "Unable to compute to that destination"

In [ ]:
distance_from_earth()

In [ ]:
distance_from_earth("Moon")

In [ ]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [ ]:
days_to_complete(238855, 90)

# **Default Value Argument**

In [ ]:
def calc_intrest(principal,rates=5,duration=5):
    intrest=(principal*rates*duration)/100
    amount=intrest+principal
    print('Principal Amount=',principal)
    print('Rate=',rates)
    print('Duration=',duration)
    print('Total Amount=',amount)

In [ ]:
calc_intrest(10)

In [ ]:
calc_intrest(10,rates=10)

In [ ]:
calc_intrest(10,rates=10,duration=20)

# Reading File

In [ ]:
f = open(r'd:\work.txt','r')

lines = f.read() # Entire file is read
print(lines)
f.close()

In [ ]:
f = open(r'd:\work.txt','r')
for line in f:
    print(line)
f.close()

In [ ]:
with open(r'd:\work.txt','r')as f:
    for line in f:
        print(line,end='')

# Writing to file

In [ ]:
value = ('the answer is ', 42)
with open(r'd:\workfile2.txt','w') as f:
    s=str(value)
    f.write(s)

## Thank You